html {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    

  }

  body {
    /*margin: 5px; */  
    font-family: Roboto, sans-serif;
    font-size: 22px;
    color: darkslategray;
    /*background-color: white;*/
    
  }
    
/*.header-desktop {
    display: flex;
}*/

.logo {
    display: flex;
    width: auto;
    /*image-resolution: 300dpi;*/
    /*height: 50px:*/
    /*width: 0 auto;*/
    /*margin-left: 5px;*/
    /*margin-top:10px;*/
    margin-bottom: 5px;
    /*align-content: center;
    align-items: center;*/
    
}
    
header {
    
    display: flex;
    /*border-bottom: 1px solid black;*/
    justify-content: space-between;
    align-items: center;
    height: 68px;
    width: 98.5%;
    background-color: white;
    /*position: fixed;
    z-index: 4;*/
    top: 0;
    padding-bottom: 5px 0;
}




.colmar {
    color:rgb(80, 77, 77);
    font-weight: 700;
    padding-top: 18px; /*new*/
    /*margin-left: 15px;*/
}

.academy {
    color:lightslategray;
    padding-top: 18px; /*new*/
}


nav {
    /*display: inline-block;*/
    display: inline-block;
    justify-content: flex-end;
    text-align: right;
    margin-right: 10px;
    text-decoration: none;
    margin-bottom: 15px;
    padding-right: 15px;
   
}

nav span a {
    padding-right: 16px;
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.logo-container-mobile {
    display: none;
}

.banner-three-students-section {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    /*border: 1px solid black;*/
    height: 675px;
    width: 100%;
    border-left: 0 1px 1px 1pxs olid lightgray;
    
}

.banner-three-students-container {
    /*margin-right: 5px;*/
    margin-left: 30px;
    margin-right: 24px;
    display: flex;
    height:87%;
    width: 73%;
    /*background-color:white;*/
}

.banner-image-three {
   
    overflow: hidden;
    width: 100%;
    height: auto;
    /*background-size: auto;*/
    display: flex;
    flex-wrap: wrap;  
    /*image-resolution: 300dpi;  */
}

@media print {
    .banner-image-three {
      image-resolution: 300dpi;
    }
  }

.banner-text {
    width: 42%;
    margin-left: 32px;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    line-height: 1.2;
    letter-spacing: 0mm;
    /*border: 2px solid black;*/
}

h1 {
    font-size: 2.5em;
    font-weight: 600;
    /*color: rgb(48, 38, 38);*/
    color: rgb(80, 77, 77);
    letter-spacing: 1.5px;

}

h4 {
    font-size: 28px;
    letter-spacing: 1.5px;
    font-weight: 540;
    margin-bottom: 50px;
    color: #616161;
    /*padding: 20px;*/
}

.start-here-button {

    text-align: center;
    color: white;
    font-weight: normal; 
    width: 88%;;
    height: 6%;
    background-color: rgb(80, 77, 77);
    padding-top: 14px;
    padding-bottom: 16px;
    margin-bottom: 40px;
}

.main-info-section-desktop {
    display: flex;
    flex-wrap: wrap;
    /*border-left: 1px solid rgb(80, 77, 77);*/
    width: 99%;
    height: 775px;
    /*justify-content: column;;
    align-items: center;
    background-color: white;*/
    border: 0 1px 1px 1px solid lightgray;
}

.main-left-section-desktop {
    /*padding: 0;*/
    width: 58%;
    height: 55%;
    margin-top: 36px;
    margin-left: 26px;
    display: flex;
    flex-wrap: wrap;
    /*border: 3px solid red;*/
    
}

.main-man-reading-image {
    height: 91.8%;
    /*overflow: hidden;*/
    background-size: auto;
    width: 100%;
    display: inline-block;
    margin-bottom: 11px;
    margin-top: 7px;
    /*border: 2 px solid red;*/
    /*flex-wrap: wrap;*/
}

.info-below-man {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-top: 5px;
    width: 100%;
    height: 66%;
    color: rgb(80, 77, 77);
    margin-left: 0;
    /*border: 2px solid darkgreen;*/
}

.main-info-statement {
    /*font-size: 2.1em;*/
    font-size: 2em;
    font-weight: 800;
    letter-spacing: 1px;
    color: rgb(80, 77, 77);
    display: inline;
    padding: 1px 0 0 0;
    /*border: 2px solid blue;*/
    width: 100%;

}

.main-paragraph {
    /*border-top: 5px;*/
    margin-bottom: 45px;
    margin-top: 1px;
    /*width: 100%;*/
    /*border: 1px solid orange;*/
    font-size: 20px;
    letter-spacing: .7px;
    font-weight: normal;
    padding: 0 0 0px 0;
    width: 96.9%;
}

.author {
    margin-bottom: 1px;
    /*font-size: 22px;*/
    font-weight: 500;
    color: rgb(80, 77, 77);
    font-size: 16px;
    /*border: 3px blue;*/
    margin-left: 5px;
}

/*.main-info-right-desktop {
    justify-content: flex-end;
    display: flex;
    position: relative;
    right: 20px;
    top: 38px;
    margin-bottom: 20px;
    margin-left: 20px;
    width: 34%;
    height: 90%;
    border: 2px solid lightsteelblue;
}*/

.info-container {
    width: 40.1%;
    height: auto;
    /*height: 96.5%;*/
    border-bottom: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 39px;
}

.info-images {
    width: 98%;
    /*height: auto;*/
    /*height: auto;*/
    display: flex;
    flex-wrap: wrap;
    /*border-top: 13px;*/
    border-left: 1px solid lightgray;
    margin-bottom: 5px;
    margin-left: 24px;
}

.images-container {
    margin-top: 2px;
    margin-bottom: 20px;
    margin-left: 23px;
    width: 34%;
    height: 81%;
    display: flex;
    flex-direction: column;
    /*padding-bottom: 7px;
    padding-top: 3px;*/
}

/*.images-container2 {
    width: 36%;
    height: max-content;
    display: flex;
    flex-direction: column;
}*/

/*.students-walking-shadows {
    width: 35%;
    display: flex;
    flex-wrap: wrap;
}

.students-walking-shadows2 {
    width: 35%;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
}*/

.info-side {
    margin-top: 0;
    display: flex;
    margin-left: 20px;
    flex-direction: column;
    width: 56%;
    justify-content: center;
    /*color: blue;*/
    line-height: 1.2;
}

.read-more {
    color: blue;

}

.info-side h3 {
    margin-top: 1px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 400;
    margin-left: 15px;

}

.info-side h5 {
    font-size: 14px;
    font-weight: lighter;
    margin-top: 0;
    margin-bottom: 15px;
    margin-right: 30px;
    margin-left: 15px;
    /*border: 2px solid black;*/
    letter-spacing: 1.4px;
    /*border-bottom: 1px;*/
}

h5 a {
    margin-top: 1px;
    text-decoration: none;
    
}

#top-item {
    margin-top: 2px;
    border-bottom: 3px solid rgb(235, 233, 233);
    padding-top: none;
    /*margin-bottom: 20px;*/
}   

/*#middle-image {
    margin-top: 20px;
    margin-bottom: 1px;

}*/

 #gray-background {
    padding-top: 24px;
    background-color: rgb(218, 214, 214);
    height: 9.6em;
    width: 99.6%;
}

.section-3-start-learning-container {
    background-color: rgb(241, 240, 240);
    border-top: 1px solid whitesmoke;
    border: 0 1px 1px 1px solid lightgray;
}    

.text-header {
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-top: 12px;
    padding-top: none;
    padding-bottom: 20px;
    margin-bottom: 32px;

}