html {
    font-family: "Verdana", sans-serif;
  }

  body {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, sans-serif;
    font-size: 22px;
    color: black;
    background-color: white;
    /*justify-content: center;
    margin: auto;
    width: 1300px:*/
}
    
.header-desktop {
    display: flex;
    
    
    
}


.logo-container {
    
    display: flex;
    height: 53px;
    width: 60px;
    margin-left: 24px;   
    margin-top: 2px;
    padding: 0 1px 0 0;
    margin-bottom: 5px;
    
}

p {
    margin-top: 14px;
    margin-bottom: 8px;
    font-size: 24px;
}

header {
    
    display: flex;
    border-bottom: 1px solid black;
    justify-content: space-between;
    align-items: center;
    height: 76px;
    width: 92%;
}

nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 18px;
    text-decoration: none;
    text-align: right;
    margin-bottom: 2px;
}

nav span a {
    margin-right: 16px;
    color: black;
    text-decoration: none;
    font-size: 20px;
}




.male-student-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1 px solid balck;
    background-color: lightgray;
    height: 700px;
    width: 1297px;

}

.text {
    display: flex;
    
}

.text h2 h4 {
    position: relative;
    align-items: right;
    justify-content: center;
}
