html {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    

  }

  body {
    /*margin: 5px; */  
    font-family: Roboto, sans-serif;
    font-size: 22px;
    color: darkslategray;
    background-color: white;;
    height: 100%;
    margin: 0px;
    
  }
    
/*.header-desktop {
    display: flex;
}*/

.logo-container {
    display: flex;
    align-content: center;
    align-items: center;
    margin-left: 18px;
    margin-bottom: 5px; 
    margin-top: 5px;
}

.logo-container img  {
    width: auto;
    height: 2.5em;

}
    
header {
    
    display: flex;
    /*border-bottom: 1px solid black;*/
    justify-content: space-between;
    align-items: center;
    height: 68px;
    width: 99.8%;
    background-color: white;
    /*position: fixed;
    z-index: 40;*/
    padding-bottom: 5px 0;
    border-left: 1px solid darkgray;
    border-right: 1px solid darkgray;

}    

.colmar {
    font-size: 24px;
    color:rgb(128, 125, 125);
    font-weight: 600;
    /*padding-top: 18px; /*new*/
    /*margin-left: 15px;*/
}

.academy {
    font-family: "Moderne Sans", sans-serif;
    font-size: 24px;
    color:rgb(161, 167, 172);
    font-weight: lighter;
    /*padding-top: 18px; /*new*/
}


nav {
    /*display: inline-block;*/
    display: inline-block;
    justify-content: flex-end;
    text-align: right;
    /*margin-right: 10px;*/
    /*text-decoration: none;*/
    margin-bottom: 9px;
    margin-top: 10px;
}

nav span a {
    margin-right: 32px;
    margin-left: -16px;
    color:rgb(105, 104, 104);
    text-decoration: none;
    font-size: 20px;
}

.logo-container-header-mobile {
    display: none;
}

/*.mobile {
    display: none;
}*/

@media only screen and (min-width: 1824px) {
    .desktop {
        width: 100%; /*Need to play with this as I imagine it doesn't fit my pixels*/
        margin: 0 auto;
    }
}

@media only screen and (max-width: 570px) {
    .desktop {
        display: none;
    }
}

/* Section 1 - Banner section  under header*/
.banner-three-students-section {
    display: flex;
    /*flex-direction: column; */
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    /*border: 1px solid black;*/
    height: 675px;
    width: 99.8%;
    border-left: 1px solid darkgray;
    border-right: 1px solid darkgray;
    border-top: 10px;
    
}


.banner-three-students-container {
    /*margin-right: 5px;*/
    margin-left: 30px;
    margin-right: 24px;
    display: flex;
    height: 87%;
    width: 64%;
    /*background-color:white;*/
}

.banner-image-three {
   
    overflow: hidden;
    width: 100%;
    height: auto;
    /*background-size: auto;*/
    display: flex;
    flex-wrap: wrap;  
    /*image-resolution: 300dpi;  */
}

/*@media only screen and (min-resolution: 300dpi) {
    .images-container {
      image-resolution: 300dpi;
    }
}*/

.banner-text {
    width: 42%;
    height: 400px;
    margin-left: 32px;
    margin-right: 50px;
    margin-top: 24px;
    display: flex;
    justify-content: center;
    line-height: 1.2;
    letter-spacing: 0mm;
    /*border: 2px solid black*/
}

h1 {
    font-size: 2.3em;
    font-weight: 600;
    /*color: rgb(48, 38, 38);*/
    color: rgb(80, 77, 77);
    letter-spacing: 1.2px;
    padding-right: 25px;
    margin-right: 10px;
    /*border: 2px solid red;*/
    margin-top: 5px;
    margin-bottom: 20px;

}

h4 {
    font-size: 26px;
    letter-spacing: 1.5px;
    padding-right: 12px;
    font-weight: 520;
    padding-top: none;
    padding-bottom: 22px;
    margin-top: 8px;
    line-height: 1.5em;
    color: #616161;
    /*border: 2px solid red;*/
}

.start-here-button a {
    font-size: 20px;
    text-align: center;
    color: white;
    font-weight: 200; 
    width: 400px;
    height: 6%;
    background-color: rgb(80, 77, 77);
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 157px;
    padding-right: 157px;
    margin-bottom: 40px;
}

/*start mobile here*/

@media only screen and (max-width: 570px) {
    .banner-three-students-section {
        flex-direction: column;
        width: 99.5%;
        /*border: 2 px solid darkgray;*/
        padding-top: 1px;
        height: auto;
        
    }

    .start-here-button a {
        font-size: 20px;
        text-align: center;
        color: white;
        font-weight: 200; 
        width: 100%;
        height: 6%;
        background-color: rgb(158, 156, 156);
        padding-top: 14px;
        padding-bottom: 14px;
        padding-left: 175px;
        padding-right: 175px;
        margin-bottom: 20px;
        margin-left: 24px;
        margin-right: none;
        /*border: 3px solid blue;*/

    }

    .logo-container-header-mobile {
        display: flex;
        height: auto;
        justify-content: space-around;
    }

    .banner-three-students-section {
        width: 99.8%;
        justify-content: center;
    }

    .banner-three-students-container {
        width: 99.7%;
        background-size: cover;
    }

    .banner-text {
        width: 95%;
        /*padding-bottom: 1rem;*/
        margin-left: 24px;
        /*border: 3px solid red;*/
        margin-left: 32px;
        margin-right: none;
    }

    .banner-text .banner-h1 {
        text-align: left;
        margin-left: 24px;
        width: 100%;
    }

    .sub-text-latin {
        margin-left: 24px;
        /*border: 2px solid black;*/
    }

    .banner-image-three {
        width: 100%;
        height: auto;
        margin-left: none;
        margin-right: none;
    }


} 

@media only screen and (min-width: 1824px) {
    .main-info-section-desktop {
        width: 100%; 
        margin: 0 auto;
    }
}
/*@media only screen and (max-width: 1824) {
    .students-walking-mobile {
        display: none;
    }

}*/

.main-info-section-desktop {
    display: flex;
    flex-wrap: wrap;
    /*border-left: 1px solid rgb(80, 77, 77);*/
    width: 99.8%;
    height: 840px;
    /*justify-content: column;;
    align-items: center;*/
    background-color: white;
    border-left: 1px solid darkgray;
    border-right: 1px solid darkgray;
}

.main-left-section-desktop {
    /*padding: 0;*/
    width: 55.5%;
    height: 54%;
    margin-top: 36px;
    margin-left: 26px;
    display: flex;
    flex-wrap: wrap;
    /*border: 3px solid red*/
    
}

.main-man-reading-image {
    height: 95%;
    /*overflow: hidden;*/
    background-size: auto;
    width: 99%;
    display: inline-block;
    margin-bottom: 11px;
    margin-top: 7px;
    /*border: 2 px solid red;*/
    /*flex-wrap: wrap;*/
}

.info-below-man {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    margin-top: 1px;
    width: 100%;
    height: 68%;
    color: rgb(80, 77, 77);
    margin-left: -8px;
    /*border: 2px solid darkgreen*/
}

.main-info-statement {
    /*font-size: 2.1em;*/
    font-size: 2em;
    font-weight: 800;
    letter-spacing: .5px;
    color: rgb(80, 77, 77);
    display: inline;
    padding-top: 8px;;
    /*border: 2px solid blue;*/
    width: 98%;
    /*margin-left: -10px;*/
    padding-left: 0px;

}

.main-paragraph {
    /*border-top: 5px;*/
    margin-bottom: 45px;
    margin-top: 1px;
    /*width: 100%;*/
   /*border: 1px solid orange;*/
    font-size: 19px;
    letter-spacing: .5px;
    color: rgb(150, 148, 148);
    font-weight: 100;
    line-height: 1.5em;
    width: 95%;
}

.author {
    margin-bottom: 0px;
    /*font-size: 22px;*/
    font-weight: 500;
    color: rgb(80, 77, 77);
    font-size: .8em;
    /*border: 3px blue;*/
    margin-left: 5px;
    padding-bottom: 32px;
}

/*.main-info-right-desktop {
    justify-content: flex-end;
    display: flex;
    position: relative;
    right: 20px;
    top: 38px;
    margin-bottom: 20px;
    margin-left: 20px;
    width: 34%;
    height: 90%;
    border: 2px solid lightsteelblue;
}*/

.info-right-container {
    width: 41.5%;
    /*height: auto;*/
    height: 99.8%;
    padding-bottom: 1px;
    display: flex;
    flex-direction: column;
    margin-top: 28px;
    margin-left: 14px;
    margin-bottom: 24px;
    /*border: 1px solid blue;*/
}

.info-right-images {
    width: 100%;
    margin-top: 1px;
    /*height: auto;*/
    /*height: auto;*/
    display: flex;
    flex-wrap: wrap;
    /*border: 1px solid green;*/
    border-left: 1px solid lightgray;
    margin-bottom: 1px;
    margin-left: 0px;
}

.images-container {
    margin-top: 10px;
    margin-bottom: 18px;
    margin-left: 18px;
    width: 33%;
    height: 70%;
    display: flex;
    flex-direction: column;
    /*padding-bottom: 7px;
    padding-top: 3px;*/
}



.info-side {
    margin-top: 0;
    display: flex;
    margin-left: 14px;
    flex-direction: column;
    width: 59.8%;
    justify-content: center;
    /*border: 1px solid red;*/
}

.read-more {
    color: blue;

}

.info-side h3 {
    margin-top: 1px;
    margin-bottom: 10px;
    font-size: 1.7rem;
    font-weight: 400;
    margin-left: 10px;

}

.info-side h5 {
    font-size: .8em;
    color:rgb(109, 107, 107);
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 15px;
    margin-right: 22px;
    margin-left: 5px;
    line-height: 24px;
    letter-spacing: .6px;
   /* border: 1px solid red;*/
}

h5 a {
    margin-top: 1px;
    text-decoration: none;
    
}

#top-item {
    margin-top: 4px;
    margin-left: 6px;
    padding-left: 5px;
    border-bottom: 3px solid rgb(235, 233, 233);
    padding-top: none;
    /*margin-bottom: 20px;*/
}   

#middle-image {
    /*margin-top: 10px;*/
    border-left: 1px solid lightgray;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 1px;
    margin-left: 5px;
    padding-left: 4px;


}

 #gray-background {
    margin-top: 1px;
    margin-left: 4px;
    padding-top: 16px;
    padding-bottom: 24px;
    background-color: rgb(218, 214, 214);
    height: 9.4em;
    width: 99%;
}

#gray-background .info-side {
    width: 51%;
}
#gray-background .images-container {
    margin-left: 24px;
}

#gray-background h5 {
    width: 96%;
}


/*Mobile Layout = Section 3 */
@media only screen and (max-width: 570px) {
    .main-info-section-desktop {
        display: flex;
        width: auto; 
        border: 2px solid red;
        padding-top: 0px;
        height: auto;
        margin-right: 0px;
        margin-left: 0px;
        margin-top: -30px;
        padding-left: 1px;
        
    }


    .main-left-section-desktop {
        display: none;
    }

    .top-photo {
        display: none;
    }  

    .images-container {
        border: 2px solid blue;
        background-image: fit;
    }
    
    #top-item {
        background-image: url("./resources/images/information-orientation-mobile-shadows.jpg");
        border: 2px solid black;
    }

    /*.info-right-images {
        display: flex;
        margin-top: 16px;
        border: 2px solid blue;
        width: 21.2em;
        height: 15.7em;
    }
    
    .info-side {
        border: 2px solid black;
        margin-top: 0px;
        width: auto;
        height: auto;
        margin-left: 24px;
    }
    
    #top-item {
        margin-top: 16px;
        margin-right: 1px;
        border: 2px solid blue;
    }
    

    .images-container {
        width: 29.3rem;
        width: fit;
        height: fit;
        background-image: fit;
        overflow: hidden;
    }

    #gray-background {
        width: 31rem;
        border: 2px solid red;
        background-color: white;
        height: 280px;
        margin-left: 1px;
        margin-right: 1px;
    }

    #gray-background .images-container {
        height: auto;
        background-image: fit;
        overflow: hidden;
        margin-right: 1px;
        width: auto;
        margin-top: 1px;
    }
    
    #gray-background .info-side {
        border: 2px solid blue;
        width: 70%;
        margin-bottom: 1px;
        height: auto;
        
    }*/
}



@media only screen and (min-width: 1824px) {
    .section-3-start-learning-container {
    margin: 0 auto;
    }
}

.section-3-start-learning-container {
    background-color: rgb(224, 220, 220);
    border-top: 1px solid whitesmoke;
    border-right: 1px solid darkgray;
    border-left: 1px solid darkgray;
    /*border: 2px solid red;*/
    height: 1075px;
}

.text-header {
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 20px;
    padding-top: 48px;
    padding-bottom: 40px;
    /*border: 2px solid green;*/
}  
  
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
  
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    /*margin-bottom: 32px;*/
}
  
.left-column {
    background-color: white;
    height: 415px;
    /*width: 400px;*/
    margin-left: 72px;
    margin-bottom: 32px;
}
  
.middle-column {
    background-color: white;
    height: 415px;
    margin-left: 32px;
    margin-right: 32px;
}
  
.right-column {
    background-color: white;
    height: 415px;
    margin-right: 72px;
}

.image-courses {
    width: 100%;
    height: auto;
    align-items: center;
}

.course-title {
    font-size: 26px;
    margin-top: 16px;
    color: rgb(80, 77, 77);
    letter-spacing: 1px;;
    margin-left: 24px;
    padding-top: 2px;
    margin-bottom: 8px;
    /*border: 1px solid red;*/
}

.same6  {
    margin-left: 24px;
    margin-top: 0px;
    margin-bottom: 3px;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 20px;
    letter-spacing: 1px;;
    color: rgb(167, 164, 164);
    font-weight: 400;
    width: 77%;
    /*border: 1px solid blue;*/
}

.courses-offered {
    margin-left: 24px;
    margin-top: .9px;
    padding-bottom: 16px;
    line-height: 1.5em;
    width: 75%;
    letter-spacing: .5px;
    color: rgb(167, 164, 164);
    font-weight: 400;
    /*border: 1px solid black;*/
}

@media only screen and (max-width: 570px) {
    .section-3-start-learning-container {
        background-color: whitesmoke;
        border-top: 0px;
        border-right: 1px;;
        border-left: 1px;
        border-bottom: 8px;
        margin-bottom: 8px;
        /*border: 2px solid red;*/
        height: 100%;
    }
        
  /*.row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .column {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
    }*/

    .left-column {
        background-color: lightgray;
        height: 100px;
        width: 475px;
        /*width: 400px;*/
        padding-top: 10px;
        margin-left: 16px;
        margin-bottom: 8px;
    }

    .middle-column {
        background-color: lightgray;
        height: 100px;
        width: 475px;
        /*width: 400px;*/
        margin-left: 16px;
        margin-bottom: 8px;
        padding-top: 5px;
    }

    .right-column {
        background-color: lightgray;
        height: 100px;
        width: 475px;
        /*width: 400px;*/
        margin-left: 16px;
        margin-bottom: 8px;
        padding-top: 5px;
    }



    .course-title {
        font-size: 32px;
        text-align: left;
        margin-top: 16px;
        margin-bottom: 8px;
        color: rgb(80, 77, 77);
        letter-spacing: 1px;;
        margin-left: 16px;
        padding-top: 12px;
        margin-bottom: 8px;
        /*border: 1px solid red;*/
    }

    .same6 h5 {
        display: none;
        font-display: none;
    }

    .image-courses {
        display: none;
    }

    .courses-offered {
        display: none;
    }

    .column .same6 {
        display: none;
    }
    

    

}

.thesis-final-container {
    background-color: rgb(230, 235, 235);
    width: 99.8%;
    height: 170px;
    border-left: 1px solid darkgray;
    border-right: 1px solid darkgray;
    /*display: flex;
    flex-wrap: wrap;
    /*justify-content: center;*/
    /*border: 2px solid goldenrod;*/
    margin-top: none;
}

.thesis-title {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    justify-content: center;
    border-right: 1px solid darkgray;
    background-color: whitesmoke;
    /*height: 100px;*/
    width: 99.7%;
    margin-left: 5px;
    font-size: .9em;
    /*border: 2px solid orange;*/

}

.thesis-container {
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke;
    width: 100%;
    height: 775px;
    border-left: 1px solid darkgray;
    border-right: 1px solid darkgray;
    border-bottom: 1px solid darkgray;

    /*border: 4px solid black;*/
}

.thesis-video-section {
    display: flex;
    flex-wrap: wrap;
    width: 55%;
    height: 69%;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 0px;
    border: 1px solid darkgray;
    display: flex;
    background-color: rgb(218, 214, 214);

}

.left-side-thesis-video {
    height: 100%;
    /*overflow: hidden;*/
    background-size: cover;
    width: 100%;
    display: inline-block;
    margin-bottom: 11px;
    margin-top: 0;
}

video {
    position: flex;
    padding-top: 1px;
    /*height: -webkit-calc(100%);
    height: calc(100%);*/

}

.text-under-video {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-top: 5px;
    width: 55%;
    /*height: 28%;*/
    color: rgb(80, 77, 77);
    margin-left: 24px;
    /*border: 2px solid blue;*/
}

.main-heading-info {
    
    /*border: 2 px solid red;*/
    width: 35%;
    margin-top: 24px;
    letter-spacing: .5px;
    margin-bottom: none;
    font-weight: 700;

}
.text-urban {
    font-size: 20px;
    color: rgb(124, 121, 121);
    font-weight: 400;
    margin-bottom: 32px;
    margin-top: 1px;
    padding-bottom: 82px;
    height: auto;
    width: 96%;
    line-height: 1.5em;
    /*border: 3px solid darkkhaki;*/
}

.thesis-right-side-container {
    width: 41.5%;
    height: 70%;
    /*background-color: rgb(218, 214, 214);*/
    /*border: 3px solid blue;*/
    position: absolute;
    margin-left: 59%;
    display: flex;
    flex-direction: column;
}

.thesisright-info-images {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    border-top: 13px;
    margin-bottom: 5px;
}

.thesis-images-container {
    margin-top: 24px;
    margin-bottom: 2px;
    margin-left: 24px;
    width: 34%;
    height: auto;
    display: flex;
    flex-direction: column;
}

#top-image {
    background-color: rgb(218, 214, 214);
    width: 97%;
}

.thesis-side-info {
    margin-top: 24px;
    display: flex;
    margin-left: 24px;
    flex-direction: column;
    width: 50%;
    height: 60%;
    justify-content: center;
    /*border: 2px solid orange;*/
    /*line-height: 1.2;*/
}

.heading {
    
    font-weight: 700;
    letter-spacing: .7px;
    padding-bottom: 1px;
    padding-top: 20px;
    /*border: 2px solid purple;*/
    margin-top: 50px;
    margin-bottom: 10px;
    line-height: 36px;
    
}

.sub-text {
    font-weight: 400;
    letter-spacing: .5px;
    padding-bottom: 5px;
    margin-top: 1px;
    margin-bottom: 15px;
    line-height: 1.5em;
    color: rgb(151, 148, 148);
    /*border: 2px solid red;*/
}

.heading h3 {
    font-size: 1.8rem;
    font-weight: bold;
    color: rgb(80, 77, 77);
    
}

@media only screen and (max-width: 570px) {
    .thesis-container {
        flex-direction: column;
        width: 99.8%;
        border-left: 2pxsolid gray;
        padding-top: 1px;
        height: auto;
        margin-left: 1px;
    }

    .thesis-title {
        /*display: flex;
        padding-top: 32px;*/
        padding-bottom: 1px;
        justify-content: center;
        background-color: whitesmoke;
        /*height: 100px;*/
        width: 99%;
        margin-left: 5px;
        font-size: .9em;
        /*border: 2px solid orange;*/
    
    }

    .thesis-video-section {
        width: 99.5%;
        background-color: whitesmoke;
        border: 1px solid white;
        margin-left: 0px;
    }

    .text-under-video {
        display: none;
    }

    .thesis-right-side-container {
        display: none;
    }
    
}


.footer-section {
    width: 100%;
    height: 90px;
    /*border: 2px solid black;*/
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke;
    border-left: 1px solid darkgray;
    border-right: 1px solid darkgray;
    border-bottom: 1px solid darkgray;

}

.left-footer {
    width: 50%;
    /*border: 2px solid blue;*/
    margin-top: 24px;
    margin-left: 24px;
    font-size: 16px;

}

.right-footer {
    width: 30%;
    text-decoration: none;
    margin-left: 68%;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    position: absolute;
    flex-wrap: wrap;
    
}

.right-footer nav a {
    font-size: 16px;
    text-decoration: none;
    margin-right: 16px;
    color:rgb(124, 121, 121);
}

@media only screen and (max-width: 570px) {
    .left-footer {
        width: 100%;
        margin-top: 45px;
        margin-left: 24px;
        font-size: 16px;
        letter-spacing: 1px;
    
    }

    .right-footer {
        display: none;
    }
}

